<div class="add-button">
<button (click)="redirectToAdd()">Add Employee</button>
</div>
<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Skills</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.contactNumber }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.gender }}</td>
        <!-- <td>{{ employee.skills.join(', ') }}</td> -->
        <td>
          <ul>
            <li *ngFor="let skill of employee.skills">
              {{ skill.skill }} ({{ skill.experience }} years)
            </li>
          </ul>
          {{ logEmployee(employee) }}
        </td>
        <td>
          <!-- <button (click)="editEmployee(employee.id)">&#9998;</button> -->
          <button (click)="editEmployee(employee.id)"><i class="fas fa-edit"></i></button>
          <button (click)="deleteEmployee(employee.id)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  
